body { 
    background-image:  "/indexbg.webp";
}

.WindowBorder {
    border-style: solid;
    border-color: lightskyblue;
    border-radius: 5rem;
    min-width: 75%;
    min-height: 75%;
}
.WindowSeperator{
    justify-self: center;
    justify-items: center;
    justify-content: center;
    padding-left: 10rem;
    padding-right: 10rem;
    min-width: 75%;
    min-height: 75%;

}
.WindowTop{
    padding-bottom: 75%;
    padding-top: 1%;
}