body{
    background: image-set("/bg.png");
    background-repeat: no-repeat;
    background-size: 100%,100%;
    
}
.WindowSeperator {
    padding: 4%
}
.WindowBorder {
    border-style: solid;
    border-width: 5px;
    border-radius: 0.7rem;
    border-color: mediumblue;
}
.WindowTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3%;
}
.WindowContent {
    margin: auto;
}   
.WindowNavBar {
    display: block;
    
    margin-right: 75%
}
.WindowMainContent{
    margin-left: 25%
}

