body{
    background: image-set("/bg.png");
    background-repeat: no-repeat;
    background-size: 100%,100%;
    
}
.WindowSeperator {
    padding: 4%
}
.WindowBorder {
    border-style: solid;
    border-width: 5px;
    border-radius: 0.7rem;
    border-color: mediumblue;
}
.WindowTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.WindowContent {
    display: flex;
    flex-direction: row;
    margin: auto;
}   
.WindowNavBar {
    padding-right: 3%;
    display: flex;
}
.WindowMainContent{
    margin: auto;
}
.WindowNavLinks {
    display: flex;
    flex-direction: column;
}

