---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/indexstyle.css">
		<title>Holy Moly</title>
		
	</head>
	<body>
		<div class="WindowSeperator">
			<div class="WindowBorder">
				<div class="WindowTitle">
					<h1>OMG</h1>
				</div>
				<div class="WindowContent">
					<div class="WindowNavBar">
						<div class="WindowNavLinks">
							<a href="/src/pages/index.astro"> help</a>
							<a href="/src/pages/index.astro"> helpp</a>
							<a href="/src/pages/index.astro"> helppp</a>
						</div>
					</div>
					<div class="WindowMainContent">
						<h1>CONTENT</h1>
					</div>
				</div>

			</div>
		</div>	
	</body>
</html>
