<html lang="en">
        <head>
                <meta charset="utf-8" />
                <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
                <meta name="viewport" content="width=device-width" />
                <meta name="generator" content={Astro.generator} />
                <link rel="stylesheet" href="/indexstyle.css">
                <title>Holy Moly</title>

<meta http-equiv="refresh" content="0; url=https://www.newtonabbotanddistrictskittlesleague.org.uk/MyTeam?MyTeam=Prospectors" />

        </head>
<body>
<h1 href="https://www.newtonabbotanddistrictskittlesleague.org.uk/MyTeam?MyTeam=Prospectors">Redirect</h1>
</body>